<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<div class="code-snippet">
  <pre><code></code></pre>
  <div class="right">
    <button type="button" title="Copy to clipboard">
      <span class="material-symbols-outlined">content_copy</span>
    </button>
  </div>
</div>

<style>
  :host {
    --background_color: #1d2021;
    --text_color: #ebdbb2;
    --button_color: #ebdbb2;
    --font: monospace;
  }

  body {
    margin: 0;
    padding: 0;
  }

  div.code-snippet {
    display: flex;

    pre {
      margin: 0;
      padding: 1rem;
      background-color: var(--background_color);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      code {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: var(--text_color);
        font-size: 14px;
        font-family: var(--font);
        font-weight: 300;
        letter-spacing: -0.05rem;
      }
    }

    div.right {
      display: flex;
      flex-direction: column;
      background-color: var(--background_color);
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      button {
        --bgc: var(--background_color);
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin: 0.5rem;

        border: none;
        background-color: hsl(from var(--bgc) h s calc(l * 0.8));
        color: var(--button_color);
        
        border-radius: 0.5rem;
        
        &.check {
          --bgc: var(--orange_dim);
          color: var(--fg)
        }

        &:hover {
          background-color: hsl(from var(--bgc) h s calc(l * 0.7));
        }
      }
    }
  }
</style>
