<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />

<div class="code-snippet">
  <pre><code></code></pre>
  <div class="right">
    <button type="button"><span class="material-symbols-outlined">content_copy</span></button>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  div.code-snippet {
    display: flex;

    pre {
      margin: 0;

      code {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    div.right {
      display: flex;
      flex-direction: column;
      background-color: #161f27;

      button {
        padding: 1rem;
        margin: 0;

        background-color: #161f27;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
</style>
